*{
  margin:0;
  font-family:helvetica;
}

h1{
    margin: 10px 0;
}

button{
  padding:5px;
  margin:5px 0;
  border-radius:10px;
}

#keyboard button{
    margin: 0 1px;
    padding:5px 10px;
}

#play{
  background-color:#9A9C5F;
  color:white;
  padding:10px 50px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
}

body{
  background-image:url('Images/lilac.jpg');
  display:flex;
  height:100vh;
  flex-wrap:wrap;
  justify-content:center;
  align-content:center;
}

#mainContainer{
  background-color:#d4adff;
  display:flex;
  flex-direction:column;
  width:350px;
  align-items:center;
  border:1px solid gray;
  border-radius:20px;
  text-align:center;
}

#afterplay{
  display:none;
}

#guesses{
    border:solid;
    border-width:2px;
    background-color:white;
    margin:10px 0;
    padding:5px;
    border-radius:5px;
    font-weight: 600;
    letter-spacing:2px;
}

span{
    background-color:white;
    margin:2px;
    padding:5px;
    border-radius:5px;
    font-weight: 600;
}

#unders{
    margin: 20px 0;
}

#result{
    font-weight: 600;
    margin:10px 0;
}

#kb1,#kb2,#kb3{
  margin-top:10px;
  margin-bottom:10px;
}

input{
  border-radius:7px;
}

#check{
  background-color:#9A9C5F;
  color:white;
  font-weight: 600;
}

#btn-sound{
  position:absolute;
  right:20px;
  top:20px;
  background-color:rgba(255, 255, 255, 0.5);
  padding:10px;
  border-radius:5px;
  cursor:pointer;
}

#btn-sound img{
  height:30px;
  width:30px;
}



#btn-sound-off{
  display:none;
}
